<!DOCTYPE html>
<html>
<head>
    <title>Forecast Input</title>
</head>
<body>
    <h1>Forecast Input</h1>
    <form method="POST" action="/">
        <label for="param1">Store Number</label>
        <input type="text" id="param1" name="storeNo"><br><br>
        <label for="param2">No of days to forecast</label>
        <input type="text" id="param2" name="forecastDays"><br><br>
        <label for="param3">Promotion Weightage</label>
        <input type="text" id="param3" name="promotion1"><br><br>
        <label for="param4">Promotion Weightage</label>
        <input type="text" id="param4" name="promotion2"><br><br>
        <label for="param5">Promotion Weightage</label>
        <input type="text" id="param5" name="promotion3"><br><br>
        <input type="submit" value="Generate Forecast">

    </form>
</body>
</html>
